body{
    font-family: Arial, Helvetica, sans-serif;
}

div.wrapper{
    background-color: lightgrey;
    padding: 20px 100px;
}

img{
    max-width: 100%;
    height: auto;
    margin: 5px 0;
}

div#contenido{
    padding: 15px;
    background-color: white;
}

.titulo::after{
    content: "";
    display: block;
   clear: both;
}

.titulo h1{
    float: left;
    color: white;
    text-transform: uppercase;
    background-color: #545E75;
    padding: 10px;
    font-size: 3em;
    font-weight: bold; 
}

#search{
    float: right;
    padding: 15px 5px;
    color: darkgray;
    
}

header #navbar {
    margin: 10px 0;
    background-color: #545E75;
    display: flex;
    justify-content: space-between;       
}

header nav li{
    display: inline-block;
    padding: 10px 15px;
    text-transform: uppercase;
    font-size: 1.1em;
}

header nav li a{
    color: white;
    text-decoration: none;
    transition: .5s;
}

header nav li a:hover{
    color: rgb(211, 211, 211);
}

div.post{
    display: flex;
    flex-wrap: wrap;
}

div.principal{
    width: 66%;
    padding: .5em;
}

div.post .sidebar{
    width: 33%;
    padding: 1em;
}

div.comentarios {
   
    padding: 15px;
    background-color: #348AA7;
    width: 9em;
    text-align: center;
    color: white;
    font-size: 1.1em;
}

.titulopost h2 {
    font-weight: bold;
    font-size: 2.2em;
    min-width: 500px;
    max-width: 70%;
    width: 550px;
}

.post h5 {
    font-size: 1.2em;
    margin: 5px 0;
    color: #bababa;
    
}

.titulopost {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post{
    margin: 10px 0;
}

.sidebar h4 {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.mode button {
    margin: 5px;
    padding: 3px;
    background-color: white;
    border: 1px solid #545E75;
    color: #545e75;
    transition: .5s;
}

.mode button:hover{
    background-color: rgb(232, 233, 255);
    cursor: pointer;
}

.sidebar input {
    display: block;
    width: 100%;
    margin: 10px auto;
    padding: 5px;   
    border: 1px solid #545e75; 
}

.sidebar input[type=submit]{
    color: white;
    background-color: #545E75;
    transition: .5s;
}

.sidebar input[type=submit]:hover{
    background-color: #348AA7;
    border: 1px solid #348AA7;
}

footer {
    background-color: #348aa7;
    padding: 10px;
    color: white;
}

a.subir{
    color: white;
    text-decoration: none;
    float: right;
}

@media (max-width: 1300px){
    div.wrapper {
        padding: 20px 50px;
    }

    .titulopost h2 { 
        min-width: 100px; 
        max-width: 100%; 
        width: 100%;
    }

    div.comentarios {
        display: none;
    }
}

@media (max-width: 800px){

    .titulo h1 {
        float: none;
       text-align: center;
    }

    #search {
        float: none;
        padding: 15px 5px;
        color: darkgray;
        margin-top: 10px;
        width: 100%;
    }

    ul {
       width: 100%;
    }

    header nav li{
        display: block;
        text-align: center;
        border-bottom: 1px solid lightgrey;
    }

    header #navbar {
        display: block;        
    }

    .mode {
       text-align: center;
    }

    
}

@media (max-width: 500px){
    .titulo h1 {
      font-size: 30px;
    }


div.principal {
    width: 100%;
    padding: .5em;
}

div.post .sidebar {
    width: 100%;
    padding: 1em;
}

a.subir {
    float: none;
}

}